[class*="con"] {
  padding: 1rem;
  background-color: #9e33e5;
  border: 2px solid #fff;
  color: #fff;
  text-align: center;
}

[class*="col"] {
  padding: 1rem;
  background-color: #33b535;
  border: 2px solid #fff;
  color: #fff;
  text-align: center;
}
